body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

h2 {
    color: hsl(14, 45%, 36%);
}

p {
    font-size: 16px;
    margin: 0;
    color: black;
}

.container {
    width: 65vh;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 30px;
}

img{
    width: 70vh;
    height: 15vw;
    border-radius: 20px;
}

.image {
    display: flex;
    justify-content: center;
    height: 15vw;
}

.presentation{
    margin-bottom: 25px;
}

.recipe {
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
    height: 7vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.recipe h3 {
    color: hsl(332, 51%, 32%);
}

.recipe ul {
    height: 4vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(332, 51%, 32%);
}

.ingredients {
    height: 12vw;
    margin-bottom: 25px;
}

.ingredients ul {
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(332, 51%, 32%);
}

.instruction {
    border: 1px solid;
    margin-bottom: 25px;
}

.instruction ol {
    color: hsl(14, 45%, 36%);
}

.nutrition{
    border: 1px solid;
    margin-bottom: 25px;
}